* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
}

header {
    background-color: rgb(8, 83, 145);
    color: white;
    padding: 10px;
}

form {
    margin-top: 12px;
}

.botao {
    margin-top: 16px;
}